/.idea/
*.iml
/out/
/lib/

/Component/bin/
/Component/.settings/
/Component/.classpath
/Component/.project

/ComponentServiceBus/bin/
/ComponentServiceBus/.settings/
/ComponentServiceBus/.classpath
/ComponentServiceBus/.project

/DocumentSystem_Automaton/bin/
/DocumentSystem_Automaton/logs/
/DocumentSystem_Automaton/.settings/
/DocumentSystem_Automaton/.classpath
/DocumentSystem_Automaton/.project

/MessagingSystem_Automaton/bin/
/MessagingSystem_Automaton/logs/
/MessagingSystem_Automaton/.settings/
/MessagingSystem_Automaton/.classpath
/MessagingSystem_Automaton/.project

/PrintingSystem_Automaton/bin/
/PrintingSystem_Automaton/logs/
/PrintingSystem_Automaton/.settings/
/PrintingSystem_Automaton/.classpath
/PrintingSystem_Automaton/.project

/TicketAutomaton/bin/
/TicketAutomaton/logs/
/TicketAutomaton/.settings/
/TicketAutomaton/.classpath
/TicketAutomaton/.project

